*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body{
   background-color: #ECFCCB;
}

nav{
   background-color: #FEE2E2;
}

nav ul{
   display: flex;
   padding: 1rem 1rem;
   align-items: center;
   list-style-type: none;
   justify-content: space-between;
   flex-shrink: 1;
}

ul:first-child{
   padding-left: 4rem;
}

ul:last-child{
   padding-right: 4rem;
}

.links{
   display: flex;
   gap: 5rem;
}

.links li{
   border: 2px solid transparent;
   padding: 5px 15px;
   border-radius: 6px;
}

.links li:hover{
   border: 2px solid #22C55E;
   background-color: #22C55E;
}

a{
   text-decoration: none;
   color: black;
   font-weight: 700;
   font-size: 20px;
}

a:hover{
   color: white;
}

li a img{
   position: relative;
}


#order-numbers{
   color: white;
   background-color: #22C55E;
   padding: 5px 10px;
   border-radius: 50%;
   font-weight: 700;
   position: absolute;
   z-index: 1;
   top: 2px;
   right: 6rem;
}