:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  background-color: #e2e8f0;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  width: 100vw;
  height: 4rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 6rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  flex-grow: 1;
  justify-content: center;
}

ul a {
  text-decoration: none;
  color: #00a6a6;
  font-weight: 700;
  border: 2px solid transparent;
  padding: 5px 15px;
  border-radius: 6px;
}

ul a:hover {
  border-color: #00a6a6;
  color: white;
  background-color: #00a6a6;
}

a {
  color: black;
}

.cart-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #e2e8f0;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 6px;
}

.cart-container:hover {
  background-color: #94a3b8;
}

#cart {
  width: 2rem;
}

h1 {
  font-weight: 800;
  color: #f08700;
}

main img {
  width: 12rem;
}

.product-container {
  width: 30rem;
  display: flex;
  margin: 20px;
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  gap: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-name {
  font-size: 1.6rem;
  font-weight: bold;
}

.specs {
  margin-top: 0.8rem;
}

.price {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.product-details{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: auto;
}

.btn {
  padding: 10px 20px;
  background-color: #e2e8f0;
  font-weight: bold;
  border-radius: 6px;
  border: 2px solid #CBD5E1;
}

.btn:hover {
  cursor: pointer;
  background-color: #f08700;
  color: #fff;
  border-color: #f08700;
}

.remove{
  border: 2px solid rgb(255, 161, 161);
  color: rgb(255, 99, 99);
}

.remove:hover{
  background-color: rgb(255, 99, 99);
  border: 2px solid rgb(255, 99, 99);
}

/* Buy page style */
.bill-container{
  background-color: #fff;
  padding: 3rem 5rem;
  border-radius: 3px;
  margin-bottom: 4rem;
}

.bill-head{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.bill-products{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(186, 186, 186);
  padding: 1rem 2rem;
  border-radius: 5px; 
}

.bill-product-details{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.bill-product-img img{
  width: 4rem;
}

.bill-total{
  margin-bottom: 1rem;
}

.confirmation{
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 2rem 3rem;
}